@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-primaria: black;
    --cor-segundaria: white;
    --cor-terciaria: #FFD700;
    

    --fonte-primaria:'Montserrat', sans-serif;
    --fonte-segundaria:"Krona One", sans-serif;

}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box ;
    background-color:var(--cor-primaria);
    color: var(--cor-segundaria);
    margin: 0;
    overflow-x: hidden;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria)
}


.apresentacao{
    padding: 3% 10%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{ 
    font-size: 2.25rem;
    font-family: var(--fonte-segundaria);
}


.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: "Roboto Mono", monospace;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-segundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link{
    background-color: var(--cor-primaria);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 22px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    border: 2px solid var(--cor-terciaria);
    display:flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
}

.icon{
    width: 25px;
}    

.img_home{
    max-width: 100%;
    height: auto;
}


.apresentacao__links__link:hover{
    background-color: #272727;


}

.rodape {
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    text-align: center;
    max-width: none;
    width: 100%;
    padding: 0 10px;
}

.rodape p {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    width: 100%;
    padding: 8px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: block;
}

.rodape a{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    text-decoration: none;
    position: relative;
    font-family: var(--fonte-primaria);
    font-size: 0.9rem;
    width: 100%;
    
    
}

.rodape a::after{
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--cor-terciaria);
    transition: 0.3s;

}

.rodape a:hover::after {
    width: 100%;

}

.img img {
    max-width: 100%;
    heigth: auto;
}

.teste {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}
